@page

<div class="text-left">
    <h1 class="display-4">Person List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="liste">
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="js/api.js"></script>
    <script>
    async function loadPerson() {
        let persons = await API.getPersons();
        console.log(persons);
        let html = "";
        persons.forEach(p => {
            html += `<tr>
                        <td>${p.id}</td>
                        <td>${p.firstName}</td>
                        <td>${p.lastName}</td>
                        <td>${p.age}</td>
                        <td><a href="/Edit?id=${p.id}"><i class="fa-solid fa-pen"></i></a></td>
                    </tr>`;
        });
        document.getElementById("liste").innerHTML = html;
    }
    loadPerson();
    </script>
}