@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Person List</h1>
    <p>Id: @Model.person.Id</p>
    <p>First Name: @Model.person.FirstName</p>
    <p>Last Name: @Model.person.LastName</p>
    <p>Age: @Model.person.Age</p>
</div>
