@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Person List</h1>
    <p>Id: @Model.plist[0].Id</p>
    <p>First Name: @Model.plist[0].FirstName</p>
    <p>Last Name: @Model.plist[0].LastName</p>
    <p>Age: @Model.plist[0].Age</p>
</div>
